.page {
    padding-top: 70px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.main-color {
    background-color: #4A76A8;
}

header {
    background-color: #4A76A8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #fff;
}

.navbar {
    margin: 0;
}

table {
    font-size: 1.2rem;
}

.label-res {
    margin-bottom: 0;
    min-height: 2.5rem !important;
}

.title-text {
    font-size: 1rem;
}

.table-center {
    text-align: center;
}

.ccl-new::before, .ccl-new::after {
    width: 2rem;
    height: 2rem;
}

.btn-add-public {
    color: #fff;
    margin-top: 20px;
    background-color: #4A76A8;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 3px;
}

.btn-add-public:hover {
    background-color: #3D6898;
    text-decoration: none;
    color: #fff;
}

.avatar{
    width: 4rem;
    height: 4rem;
}

.icon-my {
    width: 24px;
}

.header-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
}

.header-control {
    display: block;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px 25px;
}

.header-control:hover {
    cursor: pointer;
}

.public-text-name {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
}

.public-users {
    padding-top: 1rem;
}

.count {
    margin-left: 15px;
}

.progress {
    background-color: #a3abb3 !important;
    height: 15px;
    width: 80%;
}

.completing {
    font-size: 14px;
}

.percent {
    position: absolute;
    left: 50%;
}

.icon-w {
    max-width: 50px;
}

.link-clear {
    color: #000;
}

.link-clear:hover {
    text-decoration: none;
}

.feather{
    display: none;
}




/* NEW Style */

.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem 6%;
}

.public {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .5rem 0;
    border-bottom: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
}

.left-position{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    width: 62%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.right-position{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    width: 38%;
}

.header-checkbox {
    display: inline-block;
    width: 20px;
}

.publics {
    background-color: white;
}

.header-left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 29%;
}

.progress-position{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 38%;
}

label {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .header-control {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header,.checkbox{
        display: none;
    }

    .right-position{
        width: 80%;
        margin-top: 15px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 10px;
    }

    .feather{
        display: block;
    }

    .followers-count, .dogs-count{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .left-position{
        width: 100%;
    }

    .progress-position{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .publics{
        background: none;
    }

    .public{
        background-color: #fff;
        border: none;
        margin-bottom: 20px;
    }

    .progress{
        margin-top: 5px;
        width: 76%;
        right: 0;
    }
}

@media screen and (max-width: 380px) {
    .header-control {
        padding: 10px;
    }

    .avatar{
        width: 3rem;
        height: 3rem;
    }

    .public-text-name {
        font-size: 1.4rem;
    }
}