.panel-control{
    margin-top: 30px;
}

table{
    font-size: 1.2rem;
}

.label-res{
    margin-bottom: 0;
    min-height: 2.5rem !important;
}


.table-center{
    text-align: center;
}

.ccl-new::before, .ccl-new::after{
    width: 2rem;
    height: 2rem;
}

.btn-add-public{
    color: #fff;
    background-color: #4A76A8;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 3px;
}

.btn-add-public:hover{
    background-color: #3D6898;
    text-decoration: none;
    color: #fff;
}

.icon-my{
    width: 36px;
}