.page{
    margin-top: 38px;
}

.main-color{
    background-color: #4A76A8;
}

header{
    background-color: #4A76A8;
    position: fixed;
    left: 0; right: 0;
    top: 0;
    z-index: 100;
}

.nav-link{
    color: #fff;
}

.nav-link:hover{
    color: #fff;
}

.navbar{
    margin: 0;
}

table{
    font-size: 1.2rem;
}

.label-res{
    margin-bottom: 0;
    min-height: 2.5rem !important;
}

.title-text{
    font-size: 1rem;
}

.table-center{
    text-align: center;
}

.ccl-new::before, .ccl-new::after{
    width: 2rem;
    height: 2rem;
}

.btn-add-public{
    color: #fff;
    background-color: #4A76A8;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 3px;
}

.btn-add-public:hover{
    background-color: #3D6898;
    text-decoration: none;
    color: #fff;
}

.icon-my{
    width: 24px;
}

.header-panel{
    display: flex;
    justify-content: space-around;
}

.header-control{
    display: block;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px 25px;
}

.header-control:hover{
    cursor: pointer;
}

.public-text-name{
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
}

.ava{
    margin-right: 15px;
    width: 4rem;
    height: 4rem;
}

.public-users{
    padding-top: 1rem;
}

.count{
    margin-left: 15px;
}

.progress{
    background-color: #a3abb3 !important;
}

.completing{
    font-size: 14px;
}

.percent{
    position: absolute;
    left: 50%;
}

.icon-w{
    max-width: 60px;
}

@media screen and (max-width: 768px){
    .header-control{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 380px){
    /*.header-panel{*/
        /*display: block;*/
    /*}*/

    .header-control{
        padding: 10px;
    }

    .ava{
        width: 3rem;
        height: 3rem;
    }

    .public-text-name{
        font-size: 1.4rem;
    }
}